:root {
    --md-primary-fg-color: #ED7D31;
    --md-primary-bg-color: #333333;
  }

#print-site-cover-page h1 {
    background-image: url("/images/TitlePage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 900px;
    height: 900px;
    color: rgba(0, 0, 0, 0);
}

@media print {
  div {
    break-inside: avoid;
  }

  h1, h2 {
    page-break-before: auto;
    page-break-after: avoid;
  }

}
